#banner
{
	padding-top:20px;
}

   #banner_image {
      height: 100px;
      background: url();
   }

.controls1{
float:right;
}
 


.input2{
margin-left:20px;
width:440px;
}  
   
/* --- Translation element ---- */   

   #translation ul {
      list-style:none;  /* remove bullet points*/
      font-size:16px;
     /* margin-right: 40px;*/
   }
    
   /* font style for translation element */
   #translation ul a{
      color:black;
   }
  
/* ---- Main Navigation Menu --- */
   #main_nav{
      width:940px;
	  height: 25px;
      
      background:url('../images/menu_bar.png');
      /*left top no-repeat;*/
      /*position:absolute;*/
      bottom:0;
      left:0;
	  
	  
	  
   }
   
   #main_nav a:link
   {
   		color: #3C5073;
   		text-decoration: none;
   	}
   	
   	#main_nav a:visited
   {
   		color: #3C5073;
   		text-decoration: none;
   	}
   	
   	#main_nav a:hover
   {
   		text-decoration: underline;
   	}
   
   #main_nav li{
	 position: relative;
	 display: block;
   }
   
   #main_nav ul {
      list-style: none;  /* remove bullet points*/
      margin: 0;
   }
    
   /* make unordered list elements flow in one line */
   #main_nav > ul > li{
      float: left;
      height: 78px;
      display: inline-block;
      /*width: 130px;*/
      /*padding-right: 1em; */ /* unclickable spacing b/n tabs*/
   }
    

   /* line-height*/
   #main_nav > ul > li > a{
      display: block;
      line-height:20px;
      text-decoration:none;
      text-align:center;
      color: black;
      font-style:normal;
      font-size: 18px;
      font-family:"MS Reference Sans Serif", Times, Serif; /*use MS Ref. Sans Serif; if the font style doesn't exist, use any types of Times or Serif*/
      font-weight: normal;
      border-left: 1px solid #5a5c62;
      padding-left: 1em; /*spacing b/n tabs*/
      padding-right: 1em;
   }

   /* remove borders from the left-most and right-most menu tabs*/
   #main_nav > ul > li.element1 > a{border:none}
   
   /* make room between the top of drop-down and global nav bar*/
   #main_nav > ul > li > ul > li.subelement1{
      padding-top:.8em;
   }
   
   /* left-align drop-down elements with practice area element*/
   #main_nav > ul > li > ul > li{
      padding-left:1.5em;
      padding-bottom:.2em;
   }

/* ---drop down menu--- */
   /* hide drop-down menu */
   #main_nav > ul ul{
		position:absolute; 
		/*z-index:100;
		left:5px;
		top:12px;
		padding:0 1px;
		width:170px;*/
		display:none 
	} 

   /* make drop-down menu appear upon hover*/
   #main_nav li:hover ul {
      display:block;
   }

   /* form styles */
   #form_name {
      font-size:16px;
	  margin-left:0px;
   }

   #form_subname {
      font-size:14px;

      margin-left:0px;

      margin-left:0px;
      padding-bottom: 5px;
      padding-top: 5px;
   }
   
   #contact_form_outline{
      border: solid 1px black;
      padding: 10px 10px 10px 10px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      width:220px;
	  background:white;
   }

#buttons{

   float:right;
   margin-top:10px;
}

#buttons2{

   float:right;
   margin-right:150px;
   margin-bottom:20px;
   margin-top:-10px;
}
   

/* ---- Sub Navigation Menu --- */
   
   
   
   #sub_nav{
      width:972px;
      height:120px;
      background:;
	 margin-left:-25px;
      left top no-repeat;
      border-style:solid;
      border-width:0px;
      bottom:0;
      left:0;
      padding:10px;
	   margin-left:-20;
   }
   
   
   #sub_nav li{
      position: relative;
      display: block;
      width: 176px;
       height: 150px;
	 
   }
   
   #sub_nav ul {
      list-style: none;  /* remove bullet points*/
      margin: 0;
   }
    
   /* make unordered list elements flow in one line */
   #sub_nav > ul > li{
      float: left;
      height: 78px;
      display: inline-block;
      /*width: 130px;*/
      padding-right: 1.4em; /*spacing b/n tabs*/
   }
    

   /* line-height*/
  #sub_nav > ul > li > a{
      display: block;
      line-height: 20px;
      text-decoration: none;
      text-align: center;
      color: black;
      font-style: normal;
      font-size: 15px;
      font-family: "MS Reference Sans Serif", Times, Serif; /*use MS Ref. Sans Serif; if the font style doesn't exist, use any types of Times or Serif*/
      font-weight: normal;
      border-left: 1px solid #5a5c62;
      padding-left: 1em; /*spacing b/n tabs*/
   }

   /* remove borders from the left-most and right-most menu tabs*/
   #sub_nav > ul > li.element1 > a{border:none}
   
   /* make room between the top of drop-down and global nav bar*/
   #sub_nav > ul > li > ul > li.subelement1{
      padding-top: .8em;
   }
   
   /* left-align drop-down elements with practice area element*/
   #sub_nav > ul > li > ul > li{
      padding-left: 1.5em;
      padding-bottom: .2em;
   }







  #fixedbottom{
   position:fixed;
   z-index:1;
      bottom:0;
      z-index:1;
      height:15em;
      margin:0;
      background:white;
      border-top: solid;
      border-width: 1px;
      border-color: black;
      height:230px;
  }



   #left_page_alignment {
      padding-left: 18px; /* same as global nav element font size */
	    
	  }

   #contact_form_placement {
      float:;
   }
   
   #subnav_imageholder {
      height: 170px;
      background: url('../images/textholder.jpg'); 
	  margin:-16px;
   }
   
   /*#sub_nav_header {
      font-size:16px;
      padding-top:5px;
   }*/

   .sub_nav_style {
      padding: 1em;
   }
   
   #footer_style {
      margin-top: 20px;
	  margin-bottom:0px;
	  background: #9098A3;
	  width:940px;
	  height:40px;
	  margin-left:-18px;
   }
   
   .subheading {
      font-size:14px;
      font-weight:600;
      padding-top: 5px;
   }
   
   #date_style {
      padding-bottom: 5px;
   }
   
   #map {
            height: 50px;
      background: url('../images/map.gift');
   }
   
   .testimonials {
      padding-bottom:14px;
   }
