html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {border:none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


html, body {
	width:100%;
	height:100%;
	}

html, body{
	font-family: Arial, Times, Serif;
	font-size: 13px;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
   background-image:url(''); 
	background-position:left top;
	background-repeat:repeat;
		background-color: #3C5073;
}

p {
	margin-bottom:7px;
	}
	
a, p a {
	text-decoration:none;
	}
	
a:hover {
   text-decoration:underline; 
}	

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Times, Serif;
    font-weight: normal;
	position:relative;
}
	
h1{
	font-size: 35px;
	line-height:1.6;
	color:black;
	text-transform:capitalize;
	text-align:left;
	margin-left:40px;
	border-bottom:1px solid black;
}
	h1 span{
	line-height:1.7px;
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;
}

h2{
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:330px;
	padding-top:8px;
	margin-left:40px;
}

	
h3{
	font-size: 28px;
	line-height:1.6;
	color:black;
	text-transform:none;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;
	border-bottom:1px solid black;
}
	
 h3 span{
	font-size: 12px;
	color: black;
	text-transform:capitalize;
	height:24px;
	margin-top:15px;
	text-align:left;
    display:block;
}

h4{
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:330px;
	padding-top:8px;
	margin-bottom:12px;
}
	
h4 span{
	font-weight:bold;
	font-size:15px;
	font-family: Arial, Times, Serif;
	background-color:#98BDD8;
	padding:8px;
	margin-left:20px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}


#container, #container_left, #container_right{
	position: relative;
	width:100%;
}

	#container{
		position:relative;
		width:960px;
		margin:0 auto;
		text-align:left;
		background-color:white;
		padding:25px;
		overflow: hidden; 
		-moz-box-shadow: 0 0 5px 5px #D8D8D8;
		-webkit-box-shadow: 0 0 5px 5px #D8D8D8;
		box-shadow: 0 0 5px 5px #D8D8D8;
}

.group1 {
	float: left;
	width: 593px;
	position: relative;
	background:white;
	padding:0px;
	margin-bottom:10px;
}
	
.group2 {
	float: right;
	width: 257px;
	position: relative;
	background:white;
	padding:0px;
	margin-bottom:10px;
	margin-left:30px;
}
	
.group3 {
	float: left;
	width: 593px;
	position: relative;
	background:white;
	padding:0px;
	margin-top:-28px;
}	
	
.group_bannner_left {
	width: 360px;
	position: absolute;
	top:146px;
	left:50px;
	background:transparent;
	margin-top:130px;
}
			
header{
	position: relative;
	float:left;
	width: 100%;
	height:100px;
}
	
	
	#intro{
	width: 940px;
	position: relative;
	float: left;
	height:318px;
	padding:10px;
	background:#EAEAEA;
	margin-top:-40px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}


.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-left:-100;
	margin-bottom:8px;
	background:white;
}
	
.holder_content_separator{
	margin-bottom:20px;
}
	
	 
	a.photo_hover3{
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;

	}
	a.photo_hover3{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover3:hover {
	border: 1px solid #66CCFF;
	background-color:#C7EDFF;
	opacity:0.9;
	z-index:1000;
}

	 a.photo_hover2{
	position:relative;
	float: left;
	margin:5px 13px 8px 0;
	padding: 8px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}
	a.photo_hover2{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
}



.holder_gallery {
	width:590px;
	float:left;
	margin-right:10px;
	padding:0;
}		

.holder_gallery a.photo_hover {left:42px}
.holder_gallery h3 { clear:left}
	
.holder_gallery a.name{
	font-size:12px;
	text-align:left;
	position:relative;
	margin-top:15px;
	display:block;
	clear:left;
	line-height:15px;
}

.holder_gallery a.name1{
	font-size:12px;
	position:relative;
	display:inline;
    text-align:left;
	top:20px;
    left:0;
}

.holder_gallery a.description{
	font-size:12px;
	float:left;
	position:relative;
	margin-right:5px;
	padding-top:7px;
	color:gray;
	width:280px;
	display:inline;
}


footer{
	position:absolute;
	height:30px;
	clear:both;
	width:100%;
	margin-bottom:18px;
}

.container{
    width:960px;
    margin:0 auto;
	background-color:#CCC;
}


nav
{
	width:100%;
	padding-top: 135px;
	margin-left:-15px;
}

#spanish
{
	width:100%;
	margin-top:2px;
	margin-left:928px;
}

#spanish a
{
	color:#000;
}

#main_nav{
      width:100%;
      /*left top no-repeat;*/
      /*position:absolute;*/
      bottom:0;
      left:0;
   }
   
   #main_nav a:link
   {
   		color: #000;
   		text-decoration: none;
   	}
   	
   	#main_nav a:visited
   {
   		color: #000;
   		text-decoration: none;
   	}
   	
   	#main_nav a:hover
   {
   		text-decoration: underline;
   	}
   
   #main_nav li{
	 position: relative;
	 display: block;
   }
   
   #main_nav ul {
      list-style: none;  /* remove bullet points*/
      margin: 0;
   }
    
   /* make unordered list elements flow in one line */
   #main_nav > ul > li{
      float: left;
      height: 78px;
      display: inline-block;
      /*width: 130px;*/
      /*padding-right: 1em; */ /* unclickable spacing b/n tabs*/
   }
    

   /* line-height*/
   #main_nav > ul > li > a{
      display: block;
      line-height:20px;
      text-decoration:none;
      text-align:center;
      color: black;
      font-style:normal;
      font-size: 16px;
      font-family:"MS Reference Sans Serif", Times, Serif; /*use MS Ref. Sans Serif; if the font style doesn't exist, use any types of Times or Serif*/
      font-weight: normal;
      border-left: 1px solid #5a5c62;
      padding-left: 1em; /*spacing b/n tabs*/
      padding-right: 1em;
   }

   /* remove borders from the left-most and right-most menu tabs*/
   #main_nav > ul > li.element1 > a{border:none}
   
   /* make room between the top of drop-down and global nav bar*/
   #main_nav > ul > li > ul > li.subelement1{
      padding-top:.8em;
   }
   
   /* left-align drop-down elements with practice area element*/
   #main_nav > ul > li > ul > li{
      padding-left:1.5em;
      padding-bottom:.2em;
   }

/* ---drop down menu--- */
   /* hide drop-down menu */
   #main_nav > ul ul{
		position:absolute; 
		/*z-index:100;
		left:5px;
		top:12px;
		padding:0 1px;
		width:170px;*/
		display:none 
	} 

   /* make drop-down menu appear upon hover*/
   #main_nav li:hover ul {
      display:block;
      z-index:100;
      background: #98BDD8;
      width: 149px;
      border: solid 1px #3C5073;
   }


#logo{
	position:relative;
   	float:left;
	left:0px;
	width:205px;
	height:160px;
}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}

 
.readmore{
	font-weight:bold;
	font-size:15px;
	font-family: Arial, Times, Serif;
	color:#3C5073;
}

.readmore a {
   color:#3C5073;
}

.holder_news {
	width:254px;
	float:left;
	border-bottom:1px solid black;
	margin-bottom:10px;
	padding-bottom:12px;
}		

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 8px 41px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100%  Arial, Times, Serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
 
.black a {
   color: #ffffff;
}

a.link_style {
    color: #3C5073;
    }